RewriteEngine On

# Allow access to .well-known/apple-developer-merchantid-domain-association.txt
RewriteCond %{REQUEST_URI} ^/\.well-known/apple-developer-merchantid-domain-association\.txt$ [NC]
RewriteRule ^ - [L]

# Allow access to the apple-pay folder directly from the root
RewriteCond %{REQUEST_URI} ^/apple-pay/ [NC]
RewriteRule ^apple-pay/(.*)$ /apple-pay/$1 [L]

# Block access to hidden files (dotfiles)
RewriteRule (^|/)\. - [F]

# Redirect from www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

# Ensure requests are routed to the public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/\.well-known/  # Exclude .well-known directory
RewriteRule ^(.*)$ public/$1 [L]

# Set caching for static assets
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>
