input::placeholder {
    color: #333;
}

.topname {
    line-height: 46px;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

layer-page .layui-layer-btn {
    padding-top: 0px !important;
}

.layui-layer-btn {
    text-align: center !important;
    padding: 0 0px 12px;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
}

.layui-layer-btn a {
    margin: 5px 5px 0;
    padding: 0 0px !important;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 50%;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px !important;
}

.layui-layer-page {
    border-radius: 20px !important;
}

.layui-layer-setwin .layui-layer-close2 {
    background-position: -179px -31px;
    cursor: pointer
}

.layui-layer-setwin a {
    position: absolute;
    width: 32px;
    height: 40px;
    _overflow: hidden;
    top: -28px;
}

.payitem {
    border: 1px solid #fff !important;
    border-radius: 5px;
    background: #c73544;
    color: #fff !important;
}

.payitem:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: #c73544;
}

.payitem:after {
    content: '';
    width: 5px;
    height: 12px;
    position: absolute;
    right: 6px;
    bottom: 6px;
    background: #c73544;
}

div#div1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

div#div1 > img {
    height: 100%;
    width: 100%;
    border: 0;
}

.inputdiv {
    display: flex;
    border-bottom: 1px dotted #ccc !important;
    height: 38px;
    line-height: 38px;
    padding: 0px 0px;
    /*border-radius: 5px;*/
    color: #000;
}

.layui-input {
    border-style: none;

}

.small-font {
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.80);
}

.smallsize-font {
    font-size: 9.6px;
}
